
body{
  background-color: #f7f7e8;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: brown;
  border-width: 5px;
  width: 10%;
}

h2{
  color: #23120b;
}
h3{
  color: #30475e;
}

.myprofileimage{
  border-radius: 50%;
  width: auto;
}
